* {

	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

html , body {

	height: 100px;

}

body {

	padding: 5%;
}

/*.life {
	height: 100px;
	width: 40px;
	position: relative;
}

.life .progress-bar {
	height: 17%;
	width: 100%;
	background: green;
	position: absolute;
	bottom: 0;
	left: 0;
}*/